.top-margin-10 {
	margin-top: 10px;
}

.top-margin-20 {
	margin-top: 20px;
}

.top-margin-30 {
	margin-top: 30px;
}

.top-margin-40 {
	margin-top: 40px;
}

.top-margin-50 {
	margin-top: 50px;
}

.bottom-margin-10 {
	margin-bottom: : 10px;
}

.bottom-margin-20 {
	margin-bottom: 20px;
}

.bottom-margin-30 {
	margin-bottom: 30px;
}

.bottom-margin-40 {
	margin-bottom: 40px;
}

.bottom-margin-50 {
	margin-bottom: 50px;
}


